html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.nav_ul {
    list-style: none;
    text-decoration: none;
}

.nav_ul-item a {
    color: #fff;
}

.btn, .nav_ul {
    font-size: 16px;
    text-transform: uppercase;
}

a.btn {
    color: #00468F;
}

.background_photo-title {
    font-size: 29px;
}

.background_photo-text {
    font-size: 18px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

h3 {
    font-weight: 550;
    font-size: 25px;
}

.inf span {
    font-size: 18px;
}

.inf-title {
    font-size: 24px;
}

.inf-content {
    text-align: center;
}

.contact a span {
    font-size: 18px;
    color: #fff;
}

.copyright {
    font-size: 12px;
    color: #fff;
}