html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.header_box__nav__nav_ul {
    list-style: none;
    text-decoration: none;
}

.header_box__nav__nav_ul__item a {
    color: #fff;
}

.btn, .header_box__nav__nav_ul {
    font-size: 16px;
    text-transform: uppercase;
}

a.btn {
    color: #00468F;
}

.background_photo__title {
    font-size: 29px;
}
h2 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

.section_container__title--blue {
    color: #0055AE;
}

h3 {
    font-weight: 550;
    font-size: 25px;
}

.section_container__info__inf span {
    font-size: 18px;
}

.section_container__info__inf__title {
    font-size: 24px;
}

.section_container__info__inf__content {
    text-align: center;
}

.section_container__info__contact a span {
    font-size: 18px;
    color: #fff;
}

.copyright {
    font-size: 12px;
    color: #fff;
}