@media only screen and (min-width: 640px) {

    .tablet_visible {
        display: initial;
    }

    .header_box-nav {
        width: 70vw;
    }

    .nav_ul {
        justify-content: space-between;
    }

    .section_container {
        width: 94%;
        margin: 0 auto;
    }

    .section-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Project_card {
        width: 47.5%;
    }

    .Project_card-image_container {
        height: 210px;
    }

    .Project_card--realization {
        width: 100%;
    }

    .Project_card-image_container--realization {
        max-width: initial;
        height: 300px;
    }

    .section_container--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .section-title--flex {
        width: 100%;
    }

    .section-info--flex {
        width: 47.5%;
    }

    .map_container {
        width: 47.5%;
    }

    .map {
        grid-row: 2/3;
        grid-column: 2/3;
        width: 100%;
        margin: 0;
    }
}

@media only screen and (min-width: 920px) {

    header {
        height: 125px;
    }

    .header_box {
        width: 94%;
        justify-content: space-between;
    }

    .header_box-nav {
        width: 65%;
    }

    .header_box-logo {
        width: 240px;
    }

    .btn {
        padding: 13px 49px 13px 49px;
        color: #00468F;
        background-color: #fff;
        border: 1px #fff solid;
        border-radius: 17px;
        width: 94px;
    }
    
    .contact a span, .inf span {
        font-size: 22px;
    }

    .inf-title {
        font-size: 32px;
      }

    .btn--photo {
        display: block;
        padding: 15px 50px 15px 50px;
    }
}


@media only screen and (min-width: 960px) {

    .background_photo {
        background-size: 1440px;
    }

    .map {
        max-width: initial;
    }

    .header_box-nav {
        width: 60%;
    }
}

@media only screen and (min-width: 1150px) {

    .desktop_visible {
        display: initial;
    }

    .background_photo {
        background-size: 1560px;
    }

    .background_photo-title {
        font-size: 44px;
    }

    .section-flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 50px;
    }

    .Project_card--realization {
        display: flex;
        flex-direction: row;
        justify-content: initial;
    }

    .section_container--relaization {
        padding-bottom: 5%;
    }

    .Project_card-image_container--realization {
        width: 50%;
    }

    .Project_card-image_container--realization img {
        height: 100%;
    }

    .Project_card--realization p {
        margin: 0 auto;
        width: 50%;
    }

    .section-info--flex {
        width: 40%;
        margin-right: 10%;
    }

    .section_contact {
        padding-bottom: 50px;
    }

    .map_container {
        width: 50%;
        height: 330px;
    }

    .map {
        height: 100%;
    }

}

@media only screen and (min-width: 960px) {

    .background_photo {
        background-size: 1440px;
    }

    .map {
        max-width: initial;
    }

    .header_box-nav {
        width: 60%;
    }
}

@media only screen and (min-width: 1550px) {

    .background_photo {
        background-size: 1920px;
        height: calc(100vh - 125px);
    }
    
    .section_container {
        width: 81.25%;
    }    
}