header {
    background-color: #00468F;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002954;
    height: 94px;
}

.header_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header_box__logo {
    width: 156px;
}

.h1 {
    font-size: 1em;
    position: absolute;
    left: -9999px;
}

.header_box__nav__nav_ul {
    display: flex;
    padding: 0;
}

.header_box__nav__nav_ul__item a:hover {
    text-decoration: underline;
}

.initial_invisible {
    display: none;
}

.btn {
    padding: 6px 21px 6px 21px;
    color: #00468F;
    background-color: #fff;
    border: 1px #fff solid;
    border-radius: 10px;
    width: 94px;
    white-space: nowrap;
}

.btn:visited {
    color: #00468F;
}

.btn:hover {
    border-radius: 30px;
    transition: ease-in-out 0.4s;
}


a.btn:hover {
    text-decoration: none;
}

.background_photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../Images/stavbyvedouci_kontrola_projektu_hlavni_01.jpg);
    background-size: 960px;
    background-position: center;
    height: 540px;
    color: #fff;
    gap: 2em;
}

.btn--photo {
    display: block;
    padding: 7.5px 27px 7.5px 27px;
}

.section_container__Project_card_section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section_container__Project_card_section__item__image_container {
    width: 100%;
    max-width: 450px;
    height: 275px;
    overflow: hidden;
}

.section_container__Project_card_section__item__image_container img {
    width: 100%;
}

.section_container__Project_card_section__item p {
    width: 90%;
    max-width: 450px;
    margin: 0;
    margin-bottom: 90px;
}

.section_container__title {
    padding-top: 60px;
    padding-bottom: 50px;
}

main section:nth-child(2n+2) {
    background-color: #0055AE;
    color: #fff;
}

.section_container__Project_card_section__item--realization p {
    margin-top: 30px;
}

.section_container__info__inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}


.section_container__info__inf__title {
    margin: 30px 0;
}

.section_container__info__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section_container__info__contact__mail::before {
    content: "";
    display: block;
    background: url(../Images/icons/Icon\ material-email.svg) no-repeat;
    width: 30px;
    height: 25px;
    float: left;
    margin: 0 6px 0 0;
}

.section_container__info__contact__tel::before {
    content: "";
    display: block;
    background: url(../Images/icons/Icon\ awesome-phone-alt.svg) no-repeat;
    width: 30px;
    height: 32px;
    float: left;
    margin: 0 6px 0 0;
}

.section_container__info__contact__address::before {
    content: "";
    display: block;
    background: url(../Images/icons/Icon\ awesome-map-marker-alt.svg) no-repeat;
    width: 30px;
    height: 32px;
    float: left;
    margin: 0 6px 0 0;
}

.section_container__info__contact__mail, .section_container__info__contact__tel, .section_container__info__contact__address {
    margin-bottom: 40px;
}

.section_container__info__contact__mail:hover {
    text-decoration: underline;
    color: #fff;
}
.section_container__info__contact__tel:hover {
    text-decoration: underline;
    color: #fff;
} 
.section_container__info__contact__address:hover {
    text-decoration: underline;
    color: #fff;
}

.section_container__info__map_container__map {
    width: 100%;
    max-width: 450px;
    height: 260px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
